<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://portal.gestiondelriesgo.gov.co/">
                        Unidad Nacional para la Gestión del Riesgo de Desastres
                    </a>
                </li>
                <li>
                    <a href="https://forms.gle/wW4SM9XFQn2cFs2f9">
                        Encuesta
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Alerta temprana
        </div>
    </div>
</footer>